SWITCH_HOST=ip_address
SWITCH_USERNAME=username
SWITCH_PASSWORD=your_password
SWITCH_SECRET=your_enable_secret_here

NORNIR_USERNAME=same_as_switch_username_but_for_nornir
NORNIR_PASSWORD=same_as_switch_password_but_for_nornir